# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcuserdata

# macOS
.DS_Store

# Logs
*.log

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# Temporary files
*.swp
*.tmp